@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel-item {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 100%;
}
