footer {
  text-align: center;
  padding: 20px;
  width: 100%;
  z-index: 100;
  border-top: 1px solid #c6c6c6;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.internalFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
}

footer img {
  width: 250px;
  height: auto;
  max-width: 100%;
}

footer a {
  color: black;
  text-decoration: none;

}

.rightFooter {
  display: flex;
  gap: 8rem;
}

.leftColumnFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.rightColumnFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer h1 {
  font-size: 1.7rem;
  /*hacer uqe las letras esten en mayuscula*/
  text-transform: uppercase;
  max-width: 350px;
}


.iconFooter {
  width: 50px;
  height: 50px;
}

.iconFooter:hover {
  transform: scale(1.1);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.underline{
  position: relative;
}

.underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #231815;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
  font-weight: bold;
}

.underline:hover{
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }

  .internalFooter {
    flex-direction: column;
    gap: 2rem;
  }

  .rightFooter {
    flex-direction: column;
    gap: 2rem;
  }

  .leftColumnFooter {
    gap: 1rem;
  }

  .rightColumnFooter {
    gap: 1rem;
  }
  
}